<div class="faq-header"><%= t ".faq_header" %></div>

<div class="faq-c">
  <div class="faq-q"><span class="faq-t">+</span><%= t ".question1" %></div>
  <div class="faq-a">
    <p><%= t ".answer1" %></p>
  </div>
</div>

<div class="faq-c">
  <div class="faq-q"><span class="faq-t">+</span><%= t ".question2" %></div>
  <div class="faq-a">
    <p><%= t ".answer2" %></p>
  </div>
</div>

<div class="faq-c">
  <div class="faq-q"><span class="faq-t">+</span><%= t ".question3" %></div>
  <div class="faq-a">
    <p><%= t ".answer3" %></p>
  </div>
</div>
